@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

:root {
  --border-color: #ccc;
  --today: #FC3D39;
  --weekend: #F5F5F5;
  --event: #D1EBFD;
  --secondary-color: #999;
  --button-color: #007bff;
  --button-color-hover: #0069d9;
  --button-secondary-color: #f8f9fa;
  --button-delete: #FC3D39;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html,
body {
  display: grid;
  font-family: 'Roboto', sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 50px 0 15px 0;
  max-width: 900px;
  margin: 0 auto;
}

.month {
  font-weight: 700;
}

.year {
  font-weight: 300;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 35px repeat(5, 1fr);

  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  border-bottom: 1px solid var(--border-color);
}

.day {
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.day {
  height: 100px;
  padding: 5px;
  text-align: right;
  font-size: 0.8rem;
}

.day:nth-child(1),
.day:nth-child(7n),
.day:nth-child(7n + 1) {
  background-color: var(--weekend);
}

.day:nth-child(7n) {
  border-right: 1px solid var(--border-color);
}

.day-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
}

.calendar-header {
  height: 50px;
  display: grid;
  justify-content: end;
  align-content: center;

  padding-right: 10px;

  font-size: 0.8rem;
}

.today .day-number {
  background-color: var(--today);
  border-radius: 50%;
  color: #fff;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 0;
  padding: 5px;

  cursor: pointer;
  text-align: left;
}

.event-time {
  color: var(--secondary-color);
  font-size: 0.8em;
}

.add-event {
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  justify-content: center;
  align-content: center;

  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

.add-event-form {
  display: grid;
  grid-gap: 5px;

  min-width: 290px;
  padding: 15px;


  background-color: rgba(240, 240, 240, 0.95);
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.add-event-form-input {
  padding: 15px;

  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  font-size: 0.9rem;
}

.add-event-form-details {
  font-size: 0.8rem;
}

.add-event-form-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-event-form-button {
  padding: 15px;
  margin-top: 15px;
  background-color: var(--button-color);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.add-event-cancel-button {
  padding: 15px;
  margin-top: 15px;
  background-color: var(--button-secondary-color);
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.add-event-delete-button {
  flex-basis: 100%;
  padding: 15px;
  margin-top: 15px;
  background-color: transparent;
  border: 0;
  color: var(--button-delete);
  cursor: pointer;
  font-size: 0.9rem;
}

.add-button {
  background-color: var(--button-secondary-color);
  cursor: pointer;
}